<!DOCTYPE html>
<html>
	<head>
		<title>Sleepychat - 2257 Exemption</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<style>
			.body { margin: 0 auto; width: 640px; padding: 20px 5px; border: 1px solid gray; border-radius: 8px; position: relative; top: 5px; }
            .center { display: block; margin: auto; }
			.custom-counter { margin-left: 0; padding: 0px; list-style-type: none; }
			.custom-counter li { counter-increment: step-counter; }
			.custom-counter li::before { content: counter(step-counter) ": "; margin-right: 5px; font-size: 18px; display: inline; }
			h4 { display: inline; }
			p { text-indent: 25px; }
		</style>
	</head>
	<body>
        <div class="body">
            <a href="/"><img class="center" src="/images/logo-day.jpg"/></a>
            <ol class="custom-counter">
				<li>
					<h4>From Sleepychat.com</h4>
					<p>The services rendered by Sleepychat.com include an interactive computer service as defined under 47 U.S.C. § 230(f), as well as an Internet access service as defined under 47 U.S.C. § 231(e), each statutorily exempt from being defined as a producer under 18 U.S.C. § 2257(h)(2)(B).</p>
				</li>
				<li>
					<h4>Section 2257 Exemption Statement</h4>
					<p>Content Produced by Third Parties: The operators of SC are not the “producers” of any depictions of any actual or simulated sexually explicit conduct. To the extent that any such content appears on this site, the operators’ involvement with respect thereto is limited to the transmission, storage, retrieval, hosting and/or formatting of depictions posted by third party users, on areas of the website under the users’ control. Pursuant to Title 18 U.S.C. 2257(h)(2)(B)(v) and 47 U.S.C. 230(c), the operators of this website reserve the right to delete content posted by users, and the users themselves, which/whom operators deem to be indecent, obscene, defamatory or inconsistent with their policies and terms of service. Questions or comments regarding this Exemption Statement should be addressed to our staff.</p>
				</li>
				<li>
					<h4>Procedures to Ensure responsible access</h4>
					<p>Sleepychat.com is a chat service, not a producer of content. As all content is hosted transiently, its only obligation is to cooperate to immediately take disciplinary action once the infractor of the terms of use are identified.</p>
					<p>Sleepychat.com takes steps to ensure user-submitted content is in accordance with national and international law by requiring all users to be over 18 years old to use services, whether as a viewer or a poster of content. Sleepychat.com also has a team of moderators in live chat that respond to the flagging of inappropriate content. Should any content be flagged as illegal, harassing, or otherwise prohibited, Sleepychat.com's volunteer support staff shall review the content and take appropriate action.</p>
					<p>We believe that our website should be accessible only to responsible and consenting adults. Therefore, we give users the tools to restrict access to our website should they find that necessary. We label Sleepychat.com using available labeling standard to represent ourselves as an adult website for mature audiences only. This means that any filtering software should easily block access to our website if it is installed and activated on your computer. You may also use the <a href="http://www.microsoft.com/windows/ie/ie6/using/howto/security/contentadv/config.mspx" target="_blank">Internet Explorer Content Advisor</a> that is built into every Internet Explorer web browser to filter out websites that have labeled themselves as adult sites (as we have). You may also contact any member of Sleepychat.com staff (administrator or moderator designation) live in chat, and ask us to ban your IP or username permanently from the website, and we will assist you.</p>
				</li>
			</ol>
			<h4>Last updated: 22 February, 2015</h4>
        </div>
	</body>
</html>