<!DOCTYPE html>
<html>
	<head>
		<title>Sleepychat - 404</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<style>
			body { margin: 0 auto; width: 640px; padding-top: 20px }
            .center { display: block; margin: auto; }
		</style>
	</head>
	<body>
        <a href="/"><img class="center" src="/images/sleepylogo.png"/></a>
		<p>@_@ Whoa... Are you trying a confusion induction on this poor website? Either way, looks like you found the wrong page. Turns out "sleepychat.com<%= url %>" doesn't exist. Try heading back to the <a href="/">Main Page</a>.
            If you believe this is in error, please feel free to contact ElysianTail-Senpai, who is the administrator and developer of this site, or any moderator through the main chat.</p>
	</body>
</html>