<!DOCTYPE html>
<html>
	<head>
		<title>Sleepychat - About</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<style>
			.body { margin: 0 auto; width: 640px; padding: 20px 5px; border: 1px solid gray; border-radius: 8px; position: relative; top: 5px; }
            .center { display: block; margin: auto; }
		</style>
	</head>
	<body>
        <div class="body">
            <a href="/"><img class="center" src="/images/sleepylogo.png"/></a>
            <p>Welcome to Sleepychat, the world's newest and best hypnosis chat site. Here, we strive for a community-minded environment in which it is safe and comfortable to practice hypnosis, both for the experienced hypnotist,
                or the curious subject, or any combination in between. Please keep in mind that the topics discussed can become sexual in nature. Because of this, Sleepychat is marked with an adult content warning.</p>
            <p>Sleepychat was created by MrMeapify out of a severe distaste of the current state of the hypnosis community Omegle has caused. Since its creation,
                Sleepychat has provided the hypnosis community with 3 things you cannot find at Omegle:</p>
            <ol>
                <li>A safe and well moderated place to practice hypnosis.</li>
                <li>A welcoming group of individuals with similar interests in hypnosis.</li>
                <li>A completely anonymous setting in which you can express your interests. No signup needed!</li>
            </ol>
            <p>If at any time you don't understand how to chat, you should check out the <a href="/commands" target="_blank">Help Page</a> for details on commands and formatting tricks you can use.</p>
            <p>Sleepychat, now run by ElysianTail-Senpai, is growing fast, and would like the help of any interested programmers. Even if you have no programming knowledge, there are still ways to help!</p>
            <a href="https://github.com/MrMeapify/sleepychat/fork" target="_blank"><img class="center" src="/images/github-fork-button.png"/></a>
            <a href="https://github.com/MrMeapify/sleepychat/issues" target="_blank"><img class="center" src="/images/issue-tracker-button.png"/></a>
            <a href="https://gumroad.com/sleepychat" target="_blank"><img class="center" src="/images/gumroad-donate-button.png"/></a>
            <p>(By the way, users that donate get a super cool icon next to their name :3)</p>
            <br/>
            <p>By using Sleepychat, you agree to both the adult content agreement and the following:</p>
            <ul>
                <li>You use Sleepychat at your own risk.</li>
                <li>Sleepychat is not responsible for you by any means.</li>
                <li>Your access to Sleepychat is not guaranteed. It can be revoked at any time, with or without cause.</li>
                <li>Do not use Sleepychat to distribute spam or malware.</li>
                <li>You agree to indemnify and hold harmless Sleepychat from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of Sleepychat.</li>
                <li>You agree not to partake in predatory actions on Sleepychat.</li>
            </ul>
        </div>
	</body>
</html>