<!DOCTYPE html>
<html>
	<head>
		<title>Sleepychat - Blog</title>
		<meta name="description" content="The Sleepychat Blog! Find the latest big news with Sleepychat here!">
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<link rel='stylesheet' href='/stylesheets/common.css' />
		<link rel='stylesheet' href='<%= nightStyle %>' />
	</head>
	<body>
        <div class="body">
            <a href="/"><img class="center" src="/images/logo-<%= logoType %>.jpg"/></a>
			<br/>
            <h1>Sleepychat Blog</h1>
            <%- blogText %>
        </div>
	</body>
</html>