<!DOCTYPE html>
<html>
	<head>
		<title>Sleepychat - Help</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<style>
			.body { margin: 0 auto; width: 640px; padding: 20px 5px; border: 1px solid gray; border-radius: 8px; position: relative; top: 5px; }
            .center { display: block; margin: auto; }
		</style>
	</head>
	<body>
        <div class="body">
            <a href="/"><img class="center" src="/images/sleepylogo.png"/></a>
            <p>Here on Sleepychat, you can perform certain actions that normal messages can't perform, by typing any of the following commands and pressing Enter:</p>
            <ul>
                <li>/help -- Launches this page. Duh</li>
                <li>/about OR /donate OR /github -- Launches the about page. Duh</li>
                <li>/news -- Re-opens the news ticker if it was closed.</li>
                <li>/ignore &lt;user&gt; -- Ignores all messages for a user.</li>
                <li>/names OR /list -- Toggles the username sidebar on PC, or prints a list of users in the room on mobile.</li>
                <li>/whois &lt;user&gt; -- Display sex and role information for a user.</li>
                <li>/msg &lt;username&gt; &lt;message&gt; -- Sends a private message to the specified user.</li>
                <li>/r OR /reply &lt;message&gt; -- Replies to the last user to privately message you.</li>
                <li>/room &lt;user&gt; -- Requests a private chat with the specified user.</li>
                <li>/createroom &lt;room name&gt; -- Creates a public room which multiple users can be invited to using\"/invite\".</li>
                <li>/invite &lt;room name&gt; &lt;username1 username2 usernameN&gt; -- Invites the specified user(s) to the specified public room.</li>
                <li>/me &lt;did a thing&gt; -- Styles your message differently to indicate that you're doing an action.</li>
                <li>/coinflip -- Publicly flips a coin.</li>
                <li>/roll &lt;number (optional)&gt; -- Publicly rolls up to 10 dice.</li>
                <li>/mmsg &lt;message&gt; -- Sends a message to males only.</li>
                <li>/fmsg &lt;message&gt; -- Sends a message to females only.</li>
                <li>/rainy -- I hope you brought your umbrella. (Mobile not supported)</li>
                <li>/lightning -- Definitely not a good time to stand in a clearing. (Mobile not supported)</li>
            </ul>
            <p>Also, you can format your messages to be <strong>bold</strong>, <i>italic</i>, or more by using these tricks:</p>
            <ul>
                <li>Text surrounded by double dash (--) is <strike>stricken through</strike>.</li>
                <li>Text surrounded by double underscore (__) is <u>underlined</u>.</li>
                <li>Text surrounded by double asterisk (**) is <strong>bolded</strong>.</li>
                <li>Text surrounded by single asterisk (*) is <i>italicized</i>.</li>
                <li>Text surrounded by single grave accents (`) is <span style='font-family: monospace'>monospaced</span>.</li>
                <li>Text surrounded by double grave accents (``) is <span style='font-family: Georgia, serif'>serif font</span>.</li>
            </ul>
        </div>
	</body>
</html>