<!DOCTYPE html>
<html>
	<head>
		<title>Sleepychat - About</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<style>
			.body { margin: 0 auto; width: 640px; padding: 20px 5px; border: 1px solid gray; border-radius: 8px; position: relative; top: 5px; }
            .center { display: block; margin: auto; }
		</style>
        <script>
            window.resizeTo(700,8000); 
        </script>
	</head>
	<body>
        <div class="body">
            <p>Hey, you there! Here are the commands of Sleepychat, in order of importance.</p>
            <ol>
                <li>/help -- Launches a little help message with common commands for easy reference.</li>
                <li>/commands -- launches this message (woah who would have guessed)</li>
                <li>/formatting -- Shows formatting tips.</li>
                <li>/news -- Re-opens the news ticker if it was closed.</li>
                <li>/ignore &lt;user&gt; -- Ignores all messages from a user.</li>
                <li>/names OR /list -- Toggles the username sidebar on PC, or prints a list of users in the room on mobile.</li>
                <li>/msg &lt;username&gt; &lt;message&gt; -- Sends a private message to the specified user.</li>
                <li>/r OR /reply &lt;message&gt; -- Replies to the last user to privately message you.</li>
                <li>/room &lt;user&gt; -- Requests a private chat with the specified user.</li>
                <li>/whois &lt;user&gt; -- Display sex and role information for a user.</li>
                <li>/createroom &lt;room name&gt; -- Creates a public room which multiple users can be invited to using"invite".</li>
                <li>/invite &lt;room name&gt; &lt;username1 username2 usernameN&gt; -- Invites the specified user(s) to the specified public room.</li>
                <li>/banana -- Sends a picture of banana cream pie.</li>
                <li>/help 3 -- Shows page 3 of help.</li>
                <li>coinflip -- Publicly flips a coin.</li>
                <li>/roll &lt;number (optional)&gt; -- Publicly rolls up to 10 dice.</li>
                <li>/rotate &lt;foo, bar, spam&gt; -- Displays a message that rapidly alternates between the words you typed</li>
                <li>/mmsg &lt;message&gt; -- Sends a message to males only.</li>
                <li>/fmsg &lt;message&gt; -- Sends a message to females only.</li>
            </ol>
            <br/>
            <p>Also here's some formatting tips in case you missed it</p>
            <ol>
                <li>Text surrounded by double dash (--) is <strike>stricken through</strike>.</li>
                <li>Text surrounded by double underscore (__) is <u>underlined</u>.</li>
                <li>Text surrounded by double asterisk (**) is <strong>bolded</strong>.</li>
                <li>Text surrounded by single asterisk (*) is <i>italicized</i>.</li>
                <li>Text surrounded by single grave accents (`) is <span style='font-family: monospace'>monospaced</span>.</li>
                <li>Text surrounded by double grave accents (``) is <span style='font-family: Georgia, serif'>serif font</span>.</li>
                <li>/me &lt;does a thing&gt; -- Styles your message differently to indicate that you're doing an action.</li>
            </ol>
            <h6>Remember, don't do anything immoral on Sleepychat.</h6>
        </div>
	</body>
</html>