<!DOCTYPE html>
<html>
	<head>
		<title>Sleepychat - Curious</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<style>
			body { margin: 0 auto; width: 640px; padding-top: 20px }
		</style>
	</head>
	<body>
		<p>Welcome to Sleepychat. It's a cool site and we want to help you learn about hypnosis, hypnotize people, and get hypnotized.</p>
		<p>The first thing to do is to clear up this misconception: A hypnotized person has to do whatever the hypnotist says. In truth, it's very difficult to make someone do something they strogly don't want to do, like send a check for example.</p>
		<p>If you're learning to hypnotize people, you should check out the book <a href="http://www.amazon.co.uk/Reality-Plastic-The-Impromptu-Hypnosis/dp/095590840X">Reality is Plastic</a> by Anthony Jacquin. It's a good primer on hypnosis, and should get you up and running. If you're interested in using hypnosis for erotic purposes, check out <a href="http://www.amazon.com/Mind-Play-Guide-Erotic-Hypnosis/dp/1484841034">Mind Play</a> bu Mark Wisman, and that should teach you everything you need to know.</p>
		<p>If you want to be hypnotized, there's not much for you to do except practice. Most people have trouble getting under the first few times, but if you keep at it eventually you'll be able to go into trance <i>incredibly</i> easily. I reccomend <a href="http://listen.nimja.com/">Nimjs's</a> scripts because they're free and high-quality (start with the "introduction induction") at the top. After that, look into some of <a href="http://esuccubus.com/">eSuccubus's</a> work, although if you want non-erotic scripts you'll have to do a little digging. Not all of her scripts are free, but the free ones are just as good as the paid ones. Other than that, remember to be clear with the hypnotist about what don't want to do (i.e. nothing erotic).</p>
		<h6>Page written by Scott Butcher</h6>
	</body>
</html>