<!DOCTYPE html>
<html>
	<head>
		<title>Sleepychat - Guidelines</title>
		<meta name="description" content="A quick guidelines page for newcomers.">
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<link rel='stylesheet' href='/stylesheets/common.css' />
		<link rel='stylesheet' href='<%= nightStyle %>' />
	</head>
	<body>
        <div class="body">
			<a href="/"><img class="center" src="/images/logo-<%= logoType %>.jpg"/></a>
			<br/>
            <p>Sleepychat has a lot of people who really like hypnosis. I mean, <i>like</i> like hypnosis. It’s a fetish, is what I’m saying.
				If it’s not your fetish, though, don’t worry - we don’t mind, and your fellow users won’t do anything that makes you uncomfortable (unless you ask them to).
				As long as you’re happy (and nobody is making you be happy against your will), we’re happy.</p>
			<p>It’ll make us even happier if you read these helpful tips, though.</p>
			<h3>Subjects ("Subs")</h3>
			<p>Make sure you know what you want, and that your hypnotist knows it too! Here are some of the usual particulars you should make sure are clear from the start:</p>
			<ol>
				<li>If you are looking for a sexual/kinky session or just plain old fun.</li>
				<li>What sort of things you want to do, don’t mind trying, or are unwilling to do at all. (These are called limits! The last two are “soft” and “hard” limits respectively.)</li>
				<li>Whether you might be interrupted during the course of your session, and whether you are free (and consenting!) to move about at “will”.</li>
				<li>Any relevant medical considerations (epilepsy, mobility issues, multiple personalities/alters, mental health disorders, etc).</li>
				<li>If you wish to have a session that might bend your ideas on gender, sexual orientation, or fetishes.</li>
				<li>If you are interested in a session that might progress towards a D/s relationship (Master/slave, for example).</li>
			</ol>
			<h3>Hypnotists ("Tists")</h3>
			<p>There are a lot of things that you might assume a subject is okay with but they’re not. If something is questionable, just ask first.</p>
			<ol>
				<li>Here are some things to avoid:
					<ol type="a">
						<img src="/images/slave-yahweh.jpg" style="height: 250px;" />
						<li>Please don’t do that. Thank you.</li>
						<li>Marks on the sub’s body; sharps/blood.</li>
						<li>Illegal themes, content, or fantasies (this includes any fantasy with a sub playing a role &lt;18 years old).</li>
						<li>Anything that compromises a sub’s personal/private/occupational life.</li>
					</ol>
				</li>
				<li>And here are some things to ask before doing:
					<ol type="a">
						<li>Effects (including but not limited to triggers, suggestions, submissive feelings, and heightened suggestibility) past the end of the session.</li>
						<li>Bondage and other BDSM activities (pain especially).</li>
						<li>Extending play to another medium (cam, photos, call, chatzy, etc).</li>
					</ol>
				</li>
				<li>This site isn't quite the most stable you will ever find. Disconnects happen, so please be sure to include safeties for your subs should one of you drop out.</li>
				<li>And finally, the most important thing you will read in your entire life, ever: <strong>get consent when it can be clearly given (not in trance!), or it isn’t consent.</strong></li>
			</ol>
        </div>
	</body>
</html>