<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="description" content="Sleepychat, the world's newest and fastest growing hypnosis chat site. Meet a passionate community which loves hypnosis!">
		<meta name="keywords" content="sleepychat, sleepy chat, trance, hypnosis, hypnosis chat, hypnotist, subject">
		<link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css' id='stylesheet1' />
		<link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap-theme.min.css' id='stylesheet2' />
		<link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' />
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic|Sigmar+One&v2'>
		<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' id='stylesheet3' />
		<link rel='stylesheet' type='text/css' href='/stylesheets/yt.css' />
		<script src="/javascripts/audiolet.js"></script>
	</head>
	<body>
        <canvas id="canvas-rain" style="position : absolute; top : 0px; left : 0px; width: 100%; height: 100%; pointer-events: none; z-index: 1;"></canvas>
        <div class="modal fade" id="disclaimer-modal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModal" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Adult Content Warning.</h2>
                        <h4>This site may contain sexually explicit material.</h4>
                    </div>
                    <div class="modal-body">
                        <p>By accepting this agreement and entering this adult website I hereby represent and warrant that the following statements are true:</p>
                        <ul>
                            <li>I am age 18 or older and I have determined that it is not illegal for me to visit this adult website.</li>
                            <li>I do not find adult content offensive or objectionable. I believe that as an adult I have the right to choose the content I am interested in, and I am choosing to enter this adult website to access adult content.</li>
                            <li>By entering this website, I agree to release, discharge, and hold harmless the providers, owners, creators, and other users of this website from any and all liability which might arise from accessing, viewing or reading the adult content on this website.</li>
                            <li>Bypassing this agreement via access of any other page or link or via previous acceptance of this agreement shall constitute an implicit acceptance of this agreement.</li>
                            <li>This agreement (entry-dialog) constitutes a legal agreement between this website and any visitor.</li>
                            <li>I have read this entire agreement and I agree to be legally bound by it.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="accept-button">Enter. I agree.</button>
                        <button class="btn btn-default" id="deny-button">Exit. I do not agree.</button>
                    </div>
                </div>
            </div>
        </div>
		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" onclick="window.open('/about');">
							<span aria-hidden="true">?</span>
							<span class="sr-only">About</span>
						</button>
                        <img id="logo" style="display: block; margin: auto;" src="/images/logo-day.jpg"/>
						<h3 class="modal-title" id="myLargeModalLabel"><%= version %></h3>
						Created by MrMeapify, operated by ElysianTail-Senpai
					</div>
					<div class="modal-body">
						<p>Welcome! This is Sleepychat, a website for hypnotists, subjects, and people who just want to learn! All kinds of hypnosis are acceptable here, from recreational to erotic.</p>
						<p>With just a few bits of information, we can get you connected staightaway!</p>
						<form action="" id="loginform">
							<span class="form-group">
								<label>Nickname&nbsp;</label><label id="error-label" style="color: red"></label>
								<div class="input-group">
									<input id="nickname" type="text" class="form-control">
									<span class="input-group-btn">
										<button id="randomnick" class="btn btn-default" type="button">Randomize!</button>
										<button id="modoradmin" class="btn btn-default" type="button" onclick="togglePasswordField();">Mod/Admin</button>
									</span>
								</div>
								<div id="password" style="display: none;">
									<label>Password</label>
                                    <div  class="input-group" style="width: 100%;">
									   <input id="passwordfield" type="password" class="form-control">
                                    </div>
								</div>
								<div id="g-recaptcha" style="width: 304px; margin: 0 auto;"></div>
								<div class="input-group" style="width: 100%;">
									<label>I am a...</label><br/>
									<div class="btn-group btn-group-justified" data-toggle="buttons">
										<label class="btn btn-default">
											<input name="iamgender" id="iammale" type="radio"> Male
										</label>
										<label class="btn btn-default">
											<input name="iamgender" id="iamfemale" type="radio"> Female
										</label>
										<label class="btn btn-default active">
											<input name="iamgender" id="iamundisclosed" type="radio" checked> Undisclosed
										</label>
									</div>
									<br/>
									<div class="btn-group btn-group-justified" data-toggle="buttons">
										<label class="btn btn-default">
											<input name="iamrole" id="iamtist" type="radio"> Hypnotist
										</label>
										<label class="btn btn-default">
											<input name="iamrole" id="iamsub" type="radio"> Subject
										</label>
										<label class="btn btn-default active">
											<input name="iamrole" id="iamswitch" type="radio" checked> Switch
										</label>
									</div>
								</div>
								<div class="input-group" style="width: 100%;">
									<label>looking to chat with...</label><br/>
									<div class="btn-group btn-group-justified" data-toggle="buttons">
										<label class="btn btn-default">
											<input name="chatwith" id="chatwithmales" type="radio"> Males Only
										</label>
										<label class="btn btn-default">
											<input name="chatwith" id="chatwithfemales" type="radio"> Females Only
										</label>
										<label class="btn btn-default active">
											<input name="chatwith" id="chatwitheither" type="radio" checked> Either
										</label>
									</div>
								</div>
								<div class="input-group" style="width: 100%;">
									<label>for...</label><br/>
									<div class="btn-group btn-group-justified" data-toggle="buttons">
										<label class="btn btn-default">
											<input name="iwant" id="iwantrp" type="radio"> Role Playing
										</label>
										<label class="btn btn-default">
											<input name="iwant" id="iwanthyp" type="radio"> REAL Hypnosis
										</label>
										<label class="btn btn-default active">
											<input name="iwant" id="iwanteither" type="radio" checked>Either
										</label>
									</div>
								</div>
								<br/>
								<button id="loginsubmit" type="button" disabled class="btn btn-default btn-block">Connecting...</button>
								<button id="bigchatsubmit" type="submit" disabled class="btn btn-default btn-block">Connecting...</button>
                                <button id="about" type="button" class="btn btn-danger btn-block">About Sleepychat</label></button>
							</span>
						</form>
						<div style="text-align: center;"><a href="/2257exemption">2257 Exemption</a></div>
					</div>
				</div>
			</div>
		</div>
        <div class="modal fade" id="iframe-modal" tabindex="-1" role="dialog" aria-labelledby="iFrameModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">x</span>
							<span class="sr-only">Close</span>
						</button>
                        <h4 class="modal-title" id="iframe-modal-title">Empty</h4>
                    </div>
                    <div class="modal-body" id="iframe-modal-body">
                        <h3>Congratulations!</h3>
                        <p>You're a smart one! Gratz on finding this easter egg! Here's a little gift for your find:</p>
                        <img style="display: block; margin: auto; padding: 5px; background-color: #303030;" src="http://i.imgur.com/AVdIrof.png" />
                    </div>
                    <div class="modal-footer" id="iframe-modal-body">
                        <h4>Re-open with "/dialog"</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="sound-modal" tabindex="-1" role="dialog" aria-labelledby="soundModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" style="position: fixed; right: 20px; bottom: 20px; width: 175px; outline: none;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">x</span>
							<span class="sr-only">Close</span>
						</button>
                        <h4 class="modal-title">Sound Options</h4>
                    </div>
                    <div class="modal-body">
                        <input type="checkbox" name="mesg-alerts" id="mesg-alerts" checked><label for="mesg-alerts">Message Alerts</label>
                        <br /><br />
                        <input type="checkbox" name="ment-alerts" id="ment-alerts" checked><label for="ment-alerts">Mention Alerts</label>
                        <br /><br />
                        <input type="checkbox" name="whsp-alerts" id="whsp-alerts" checked><label for="whsp-alerts">Whisper Alerts</label>
                        <br /><br />
                        <input type="checkbox" name="jnlv-alerts" id="jnlv-alerts" checked><label for="jnlv-alerts">Join/Leave Alerts</label>
                        <br /><br />
                        <input type="checkbox" name="site-alerts" id="site-alerts" checked><label for="site-alerts">Site Alerts</label>
                        <br /><br />
                        <input type="checkbox" name="mods-alerts" id="mods-alerts" checked><label for="mods-alerts">Mod Alerts</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>
		<div class="page" id="page">
            <div class="list-right" id="namelist"></div>
            <div id="msgframe"></div>
	  		<form id="chatbar" action="">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-btn">
							<button id="dcbutton" class="btn btn-danger" data-really-text="Really?" type="button" disabled>New Chat</button>
						</span>
						<input tabindex="1" id="m" type="text" autocomplete="off" class="form-control">
						<span class="input-group-btn">
							<button id="sendbutton" class="btn btn-default" type="submit" disabled>Send</button>
							<button id="mutebutton" class="btn btn-default" type="button"><i class="fa fa-volume-up"></i></button>
							<button id="daynbutton" class="btn btn-default" type="button" onclick="toggleDayNight();"><img id="daynimage" src="/images/night.png" /></button>
						</span>
					</div>
				</div>
	  		</form>
            <div class="ticker-bg" style="position: fixed; bottom: 40px; width: 100%; height: 34px; padding: 3px;">
                <button id="ticker-x" type="button" class="btn btn-default" style="padding-top: 3px; padding-bottom: 3px; float: right;">X</button>
                <div class="ticker-parent" style="position: relative; width: 97.5%;">
                    <div id="sc-news" class="ticker" style="font: 1em Roboto, Helvetica, Arial;">
                        <ul id="news-container">
                        </ul>
                    </div>
                </div>
            </div>
		</div>
	</body>
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
	<script src="/javascripts/tabcomplete.js"></script>
	<script src="/javascripts/ticker.js" id="ticker-script"></script>
	<script src="/javascripts/cookies.js"></script>
	<script src="/javascripts/rainy.js" id="script-rain"></script>
	<script src="/javascripts/client.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=youtubeApiLoad"></script>
	<script src="https://www.google.com/recaptcha/api.js?onload=reCaptchaLoad&render=explicit&hl=en" async defer></script>
</html>
