<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
<meta name="HandheldFriendly" content="true" />
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<script src="https://rawgithub.com/oampo/Audiolet/master/src/audiolet/Audiolet.js"></script>
	</head>
	<body>
		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" onclick="window.history.back()">
							<span aria-hidden="true">×</span>
							<span class="sr-only">Close</span>
						</button>
						<span class="modal-title" id="myLargeModalLabel"><div style="font-size: 1.3em">Sleepychat <%= version %></div><span id='Splash'>--</span></span>
					</div>
					<div class="modal-body">
						<p>Welcome! This is Sleepychat, a website for hypnotists, subjects, and people who just want to learn! All kinds of hypnosis are acceptable here, from theraputic to recreational to erotic. Our most important rule is that everyone should be kind <i class="fa fa-smile-o"></i></p>
						<p>With just a few bits of information, we can get you connected staightaway!</p>
						<form action="" id="loginform">
							<span class="form-group">
								<label>Nickname</label>
								<div class="input-group">
									<input id="nickname" type="text" class="form-control">
									<span class="input-group-btn">
										<button id="randomnick" class="btn btn-default" type="button">Randomize!</button>
									</span>
								</div>
								<div class="input-group">
									<label>I am a...</label><br/>
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-default">
											<input name="iamgender" id="iammale" type="radio"> Male
										</label>
										<label class="btn btn-default">
											<input name="iamgender" id="iamfemale" type="radio"> Female
										</label>
										<label class="btn btn-default active">
											<input name="iamgender" id="iamundisclosed" type="radio" checked> Undisclosed
										</label>
									</div>
									<br/><br/>
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-default">
											<input name="iamrole" id="iamtist" type="radio"> Hypnotist
										</label>
										<label class="btn btn-default">
											<input name="iamrole" id="iamsub" type="radio"> Subject
										</label>
										<label class="btn btn-default active">
											<input name="iamrole" id="iamswitch" type="radio" checked> Switch
										</label>
									</div>
								</div>
								<div class="input-group">
									<label>looking to chat with...</label><br/>
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-default">
											<input name="chatwith" id="chatwithmales" type="radio"> Males Only
										</label>
										<label class="btn btn-default">
											<input name="chatwith" id="chatwithfemales" type="radio"> Females Only
										</label>
										<label class="btn btn-default active">
											<input name="chatwith" id="chatwitheither" type="radio" checked> Either
										</label>
									</div>
								</div>
								<div class="input-group">
									<label>for...</label><br/>
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-default">
											<input name="iwant" id="iwantrp" type="radio"> Role Playing
										</label>
										<label class="btn btn-default">
											<input name="iwant" id="iwanthyp" type="radio"> REAL Hypnosis
										</label>
										<label class="btn btn-default active">
											<input name="iwant" id="iwanteither" type="radio" checked>Either
										</label>
									</div>
								</div>
								<button id="loginsubmit" type="submit" disabled class="btn btn-default btn-block">Connecting...</button>
								<button id="bigchatsubmit" type="button" disabled class="btn btn-default btn-block">Connecting...</button>
								<button id="bugsandfeatures" type="button" class="btn btn-danger btn-block">Feature Requests &amp; Bug Reports</button>
							</span>
						</form>
						<div style="text-align: center;">Or are you just <a href="/curious" target="_blank">curious</a>?</div>
						<h6 style="text-align: center;"><a href="/legal">Legalities</a></h6>
					</div>
				</div>
			</div>
		</div>
		<div class="body">
			<ul id="messages"></ul>
	  		<form id="chatbar" action="">
				<div class="form-group">
					<div class="input-group" style="background-color: white;">
						<span class="input-group-btn">
							<button id="dcbutton" class="btn btn-danger" data-really-text="Really?" type="button" disabled>New Chat</button>
						</span>
						<input id="m" type="text" autocomplete="off" class="form-control">
						<span class="input-group-btn">
							<button id="sendbutton" class="btn btn-default" type="submit" disabled>Send</button>
							<button id="mutebutton" class="btn btn-default" type="button"><i class="fa fa-volume-up"></i></button>
						</span>
					</div>
				</div>
	  		</form>
		</div>
	</body>
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
	<script src="/javascripts/tabcomplete.js"></script>
	<script src="/javascripts/client.js"></script>
	<script>
		function loadGif(id, url) {
			document.getElementById("hiddenInd" + id.toString()).setAttribute("src", "/images/ldg.png");
			document.getElementById("hiddenInd" + id.toString()).setAttribute("onclick", "");
			document.getElementById("hiddenImg" + id.toString()).setAttribute("src", url);
			document.getElementById("hiddenLnk" + id.toString()).setAttribute("href", url);
		}

		function onGifLoaded(id) {
			document.getElementById("hiddenInd" + id.toString()).style.display = "none";
			document.getElementById("hiddenLnk" + id.toString()).style.display = "";
		}
	</script>
</html>
