<!DOCTYPE html>
<html>
	<head>
		<title>Hypnochat - Legal</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<style>
			body { margin: 0 auto; width: 640px; padding-top: 20px }
		</style>
	</head>
	<body>
		<p>Welcome to Hypnochat. Here's what you need to know. These terms are accepted by using the site.</p>
		<p>You use Hypnochat at your own risk.</p>
		<p>Hypnochat is not responsible for you by any means.</p>
		<p>Your access to Hypnochat is not guaranteed. It can be revoked at any time, with or without cause.</p>
		<p>Do not use Hypnochat to distribute spam or malware.</p>
		<p>You agree to indemnify and hold harmless Hypnochat from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of Hypnochat.</p>
		<p>You agree not to partake in predatory actions on Hypnochat.</p>
		<br />
		<p>Hypnochat is an improved and more stable version of Sleepychat, a similar chat room that has died to troll attacks and lack of administrative presence. Credit for the original code goes to the owner of Sleepychat, MrMeapify. Credit for contributions to Sleepychat that have made their way here goes to ScottB. Credit for the improvements which made it here, but not in the original site goes to the owner of Hypnochat, ElysianTail-Senpai.</p>
	</body>
</html>