<!DOCTYPE html>
<html>
	<head>
		<title>Sleepychat - Legal</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<style>
			body { margin: 0 auto; width: 640px; padding-top: 20px }
		</style>
	</head>
	<body>
		<p>Welcome to Sleepychat. Here's what you need to know. These terms are accepted by using the site.</p>
		<p>You use Sleepychat at your own risk.</p>
		<p>Sleepychat is not responsible for you by any means.</p>
		<p>Your access to Sleepychat is not guaranteed. It can be revoked at any time, with or without cause.</p>
		<p>Do not use Sleepychat to distribute spam or malware.</p>
		<p>You agree to indemnify and hold harmless Sleepychat from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of Sleepychat.</p>
		<p>You agree not to partake in predatory actions on Sleepychat.</p>
	</body>
</html>