<!DOCTYPE html>
<html>
	<head>
		<title>Sleepychat - Template</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<style>
			.body { margin: 0 auto; width: 640px; padding: 20px 5px; border: 1px solid gray; border-radius: 8px; position: relative; top: 5px; }
            .center { display: block; margin: auto; }
		</style>
	</head>
	<body>
        <div class="body">
            <a href="/"><img class="center" src="/images/logo-day.jpg"/></a>
            <p>This is a template page.</p>
        </div>
	</body>
</html>