<!DOCTYPE html>
<html>
	<head>
		<title>Sleepychat - Template</title>
		<meta name="description" content="TEMPLATE PAGE">
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<link rel='stylesheet' href='/stylesheets/common.css' />
	</head>
	<body>
        <div class="body">
            <a href="/"><img class="center" src="/images/logo-day.jpg"/></a>
			<br/>
            <p>This is a template page.</p>
        </div>
	</body>
</html>