.page { margin: 0; padding: 0; box-sizing: border-box; }

.page form { background: #afafaf; padding: 3px; position: fixed; bottom: 0; width: 100%; font: 1.11em Roboto, Helvetica, Arial; }

.page .form-group { margin-bottom: 0; }

.page #namelist { position: relative; float: right; overflow-x: hidden; overflow-y: auto; text-overflow: ellipsis; border-left: 1px solid gray; padding-left: 5px; font: 1em Roboto, Helvetica, Arial; }

.page #msgframe { position: relative; width: 100%; overflow-x: hidden; overflow-y: auto; word-break: break-all; margin: 0; border: 0; padding: 0; font: 1em Roboto, Helvetica, Arial; }

.body { font: 1.11em Roboto, Helvetica, Arial }

.body #messages { list-style-type: none; height: 100%; margin: 0; padding: 0; }

.body #messages li { padding: 5px 10px; font-size: 1.4rem;}

.body #messages .information { font-style: italic; font-weight: 700; font: 1.11em Roboto, Helvetica, Arial; }

.body #messages .blocking { display: inline-block; vertical-align: top; max-width: 95%; }

/*.afk { font-style: italic; font-weight: 700; font: 1.11em Roboto, Helvetica, Arial; color: #111111}*/

.modal-body .input-group { margin-bottom: 20px; }

li.self { background: #eee; }

li.highlight { background: #f7ff6a!important; }

li.mention { background: #fffca8!important; }

.login-modal { font-family: Roboto, Helvetica, Arial; }

.embedded_image { max-height: 250px; }

.image_loader_link { cursor: pointer; }

.ticker-parent { top: 7px; }

.ticker-bg { background: #afafaf; }

.ticker { color: #000000; }

.yt-video-container { box-shadow: 5px 5px 5px #888; }