li.self { background: #333333; }

li.highlight { background: #008b8b!important; }

li.mention { background: #006d6d!important; }

.login-modal { font-family: Roboto, Helvetica, Arial; }

.embedded_image { max-height: 250px; }

.image_loader_link { cursor: pointer; }

.ticker-parent { top: 6px; }

.ticker-bg { background: #444444; }

.ticker { color: #ffffff; }

.yt-video-container { box-shadow: 5px 5px 5px #111; }