.body { margin: 0; padding: 0; box-sizing: border-box; font: 13px Helvetica, Arial; }

.body form { background: #afafaf; padding: 3px; position: fixed; bottom: 0; width: 100%; }

.body .form-group { margin-bottom: 0; }

.body #messages { list-style-type: none; margin: 0; padding: 0; padding-bottom: 40px;}

.body #messages li { padding: 5px 10px; font-size: 1.4rem;}

.body #messages li .self { background: #eee; }

.body #messages .information { font-style: italic; font-weight: bold; }

.modal-body .input-group { margin-bottom: 20px; }
