.body { margin: 0; padding: 0; box-sizing: border-box; font: 1.11em Roboto, Helvetica, Arial; }

.body form { background: #afafaf; padding: 3px; position: fixed; bottom: 0; width: 100%; }

.body .form-group { margin-bottom: 0; }

.body #messages { list-style-type: none; margin: 0; padding: 0; padding-bottom: 40px;}

.body #messages li { padding: 5px 10px; font-size: 1.4rem;}

.body #messages .information { font-style: italic; font-weight: 700; font: 1.11em Roboto, Helvetica, Arial;}

/*.afk { font-style: italic; font-weight: 700; font: 1.11em Roboto, Helvetica, Arial; color: #111111}*/

.modal-body .input-group { margin-bottom: 20px; }

li.self { background: #eee; }

li.highlight { background: #f7ff6a!important; }

.login-modal { font-family: Roboto, Helvetica, Arial; }

.embedded_image { max-height: 250px; }

.image_loader_link { cursor: pointer; }

.ticker-parent { top: 7px; }

.ticker-bg { background: #afafaf; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #afafaf 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(97%,#afafaf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#afafaf 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#afafaf 97%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#afafaf 97%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#afafaf 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#afafaf',GradientType=0 ); /* IE6-9 */
}