.body { margin: 0; padding: 0; box-sizing: border-box; font: 1.11em Roboto, Helvetica, Arial; }

.body form { background: #afafaf; padding: 3px; position: fixed; bottom: 0; width: 100%; }

.body .form-group { margin-bottom: 0; }

.body #messages { list-style-type: none; margin: 0; padding: 0; padding-bottom: 74px;}

.body #messages li { padding: 5px 10px; font-size: 1.4rem;}

.body #messages .information { font-style: italic; font-weight: 700; font: 1.11em Roboto, Helvetica, Arial; }

.body #messages .blocking { display: inline-block; vertical-align: top; max-width: 95%; }

/*.afk { font-style: italic; font-weight: 700; font: 1.11em Roboto, Helvetica, Arial; color: #111111}*/

.modal-body .input-group { margin-bottom: 20px; }

li.self { background: #333333; }

li.highlight { background: #008b8b!important; }

li.mention { background: #006d6d!important; }

.login-modal { font-family: Roboto, Helvetica, Arial; }

.embedded_image { max-height: 250px; }

.image_loader_link { cursor: pointer; }

.ticker-parent { top: 6px; }

.ticker-bg { background: #444444; }

.ticker { color: #ffffff; }

.yt-video-container { box-shadow: 5px 5px 5px #111; }