.yt-video-container { display: inline-block; vertical-align: middle; height: 112px; width: 714px; border: 1px solid #888; background-color: #fff; color: #000; }
.yt-video-container a { color: #167ac6; }
.yt-video-container a:link { text-decoration: none; }
.yt-video-container a:hover { text-decoration: underline; }

.yt-thumbnail { width: 196px; height: 110px; float: left; margin-right: 10px; text-align: : right; display: block; }
.yt-thumbnail-imgspan { overflow: hidden; background: #f1f1f1; font-size: 0; vertical-align: middle; display: inline-block; }
.yt-thumbnail-imglink { position: relative; display: inline-block; }
.yt-thumbnail-img { width: 100%; max-height: 110px; position: relative; }
.yt-thumbnail-time { padding: 0 4px; background-color: #000; color: #fff!important; font-weight: bold; font-size: 11px; height: 14px; line-height: 14px; opacity: 0.75; vertical-align: top; display: inline-block; position: absolute; right: 2px; bottom: 2px; }

.yt-details { overflow: hidden; position: relative; max-width: 512px }
.yt-details-title { font-size: 14px; margin: 0px; margin-top: 5px; font-family: arial, sans-serif; }
.yt-details-meta { display: inline; padding: 0px; list-style: none; font-family: arial, sans-serif; font-size: 12px; }
.yt-details-meta>li { display: inline-block; }
.yt-details-meta>li:not(:first-child)::before { content: '\002022'; color: #999; margin: 0 5px; }
.yt-details-desc { margin: 5px 0 0; position: relative; overflow: hidden; text-overflow: ellipsis; white-space: pre-wrap; word-wrap: break-word; font-family: arial, sans-serif; font-size: 12px; -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-height: 1.3em; max-height: 2.6em; }